* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}
.color-btn {
  height: 40px;
  width: 100px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: large;
  font-weight: bold;
  font-style: italic;
  background-color: lightcoral;
  cursor: pointer;
}
button.timer-start {
  background-color: #94a5ca26;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 50px;

  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;

  padding: 5px 5px;
  width: 70px;
  height: 70px;
}
.input-area {
  margin-right: 30px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  min-width: 200px;
  height: 50px;

  color: #212121;
  font-size: 18px;
  text-align: center;
}
.timer {
  display: flex;
}
.field {
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 80px;
  height: auto;
  margin-top: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  text-align: center;
  font-weight: 700;
}
.field:not(:last-child) {
  margin-right: 20px;
}
